body {
  background: url(./cloud.jpg);
  background-size: cover;
  font-family: arial, sans-serif;
}
.introduction_text h1 {
  background-color: white;
  border: dotted;
  float: center;
  width: 100%;
  height: inherit;
  text-align: center;
  padding: 20px;
  position: absolute;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul li {
  float: left;
  width: 200px;
  height: 40px;
  background-color: #1e90ff;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
}
ul li a {
  text-decoration: none;
  color: black;
  display: block;
}
ul li a:hover {
  background-color: #1e90f0;
}
ul li ul li {
  display: none;
}
ul li:hover ul li {
  display: block;
}
.navbar {
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
}
p {
  color: navy blue;
  font-size: 16px
}
.introduction_text p {
  text-align: center;
  border: hidden;
  padding: 60px
}
